[Unit]
Description=Freeleaps gunicorn daemon
Requires=gunicorn_freeleaps.socket
After=network.target

[Service]
User=wwwadmin
Group=wwwadmin
WorkingDirectory=/home/wwwadmin/git/freeleaps
EnvironmentFile=/home/wwwadmin/git/freeleaps/.env
ExecStart=/home/wwwadmin/git/freeleaps/venv_t/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/wwwadmin/git/freeleaps/freeleaps.sock backend.wsgi:app
[Install]
WantedBy=multi-user.target

