<!DOCTYPE html>

<html>
<html lang="en">
<head>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue"></script>
	<title>Free Leaps - find paterns, realize dream</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'freeleapsapp/css/site.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <style>
  /* Make the image fully responsive */
  </style>
</head>
<header>
  <h1> Free Leaps - leading one-stop platform for developers to build career </h1>
  <!--<nav>
     <p><a href="#"class="activeLink">Home</a> | <a href="#">About Me</a> | <a href="#">Photos</a> | <a href="#">Contacts</a></p>
   </nav>-->
   <hr>
</header>


<body>

  {% block content %} {% endblock %}

</body>



</html>
