// Add responsive to utilities
$utilities: (
  "width": (
    property: width,
    responsive: true,
    class: w,
    values: (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto
    )
  ),
  "height": (
    property: height,
    responsive: true,
    class: h,
    values: (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto
    )
  ),
);

.rfs-10 {
  font-size: 10vmin;
}
.rfs-9 {
  font-size: 9vmin;
}
.rfs-8 {
  font-size: 8vmin;
}
.rfs-7 {
  font-size: 7vmin;
}
.rfs-6 {
  font-size: 6vmin;
}
.rfs-5 {
  font-size: 5vmin;
}
.rfs-4 {
  font-size: 4vmin;
}
.rfs-3 {
  font-size: 3vmin;
}
.rfs-2 {
  font-size: 2vmin;
}
.rfs-1 {
  font-size: 1vmin;
}
.rfs-min {
  font-size: 3vmin;
}
