.story-board {
  @extend .border;
  @extend .mx-1;
  @extend .mx-lg-3;
  @extend .mx-xxl-5;
  @extend .my-3;
  @extend .pt-1;
  @extend .h-80;
}

.focus-area {
  @extend .border;
  @extend .mx-auto;
  @extend .my-5;
  @extend .pt-2;
  @extend .px-0;
  @extend .px-lg-2;
  @extend .pb-5;
  @extend .w-100;
  @extend .w-md-75;
  @extend .w-xl-50;
  @extend .w-xxl-50;
}

.form-group {
  @extend .mx-auto;
  @extend .my-5;
  @extend .w-100;
  @extend .w-md-75;
  @extend .border;
}

.form-group-item {
  @extend .form-control;
  @extend .mx-auto;
  @extend .w-sm-90;
  @extend .w-100;
  @extend .my-2;
}

.main-body {
  margin-top: 0px;
  width: 100%;
  height: 100%;
}