.lf-board-container {
    @extend .w-100;
}

.lf-head-container {
    @extend .p-1;
    @extend .p-lg-3;
    @extend .w-100;
    @extend .d-flex;
}

.lf-head-title {
    @extend .fs-3;
    @extend .fw-bold;
    @extend .text-start;
}

.lf-head-subtitle {
    @extend .fs-6;
    @extend .text-start;
}

.lf-head-left {
    @extend .w-40;
    @extend .w-lg-30;
    @extend .w-xl-20;
}

.lf-head-right {
    @extend .w-60;
    @extend .w-lg-70;
    @extend .w-xl-80;
    @extend .p-1;
    @extend .p-lg-3;
    @extend .d-flex;
    @extend .justify-content-start;
}

.lf-head-notes {
    @extend .text-start;
    @include font-size(0.8rem);
}

.lf-body-container {
    @extend .w-100;
    @extend .d-flex;
    @extend .justify-content-center;
}

.lf-body-content {
    @extend .w-100;
    @extend .w-sm-90;
    @extend .w-lg-80;
    @extend .w-xl-70;
    @extend .mx-auto;
    @extend .border;
    @extend .p-1;
}

.lf-body-item {
    @extend .w-100;
}

.lf-body-item-label {
    @extend .text-start;
    @extend .fs-5;
    @extend .fw-bold;
}

.lf-body-item-label-note {
    @extend .text-start;
    @include font-size(0.5rem);
    @extend .my-0;
    @extend .py-0;
}

.lf-body-item-rich-text {
    @extend .border;
    @extend .w-100;
    min-height: 40vh;
}

.lf-body-item-text-input {
    @extend .border;
    @extend .w-100;
    min-height: 5vh;
    @extend .mb-3;
}

.lf-submit-container {
    @extend .d-flex;
    @extend .w-100;
    @extend .w-lg-80;
    @extend .w-xl-60;
    @extend .justify-content-center;
    @extend .my-3;
    @extend .mx-auto;
}

.if-submit {
    @extend .btn;
    @extend .btn-primary;
    @extend .w-30;
    @extend .mx-auto;
}

.if-cancel {
    @extend .btn;
    @extend .btn-secondary;
    @extend .w-30;
    @extend .mx-auto;
}

.if-errorInput{
    @extend .text-center;
    @include font-size(1.5rem);
    color: $error;
}