.callout {
    @extend .text-start;
    @include font-size(1.25rem);
    color: $callout;
}

.errorInput {
    @extend .text-start;
    @include font-size(1em);
    color: $error;

}

.lableText {
    @extend .fs-6;
    @extend .fw-bold;
    @extend .text-start;
    @extend .m-0;
    @extend .p-0;
    font-size: 0.8em;
}