
.input-group-div {
    @extend .my-3;
    @extend .px-1;
    @extend .border;
  }
  
  .input-label {
    @extend .lableText;
  }
  
  .add-experience-button {
    @extend .btn;
    @extend .btn-link;
    @extend .my-0;
    @extend .py-0;
    @extend .text-center;
  }
  
  .content-text {
    @extend .text-wrap;
    @extend .text-start;
    @extend .my-1;
    cursor: pointer;
  }
  
  .headline-group {
    @extend .input-group-div;
    cursor: pointer;
  }
  
  .headline-text {
    @extend .content-text;
  }
  
  .highlight-group {
    @extend .input-group-div;
    cursor: pointer;
  }
  
  .highlight-text {
    @extend .content-text;
  }
  
  .role-group {
    @extend .input-group-div;
    cursor: pointer;
  }
  
  .role-text {
    @extend .text-start;
    @extend .mx-1;
    @extend .px-1;
  }
  
  .tags-group {
    @extend .input-group-div;
    cursor: pointer;
  }
  
  .tag-text {
    @extend .text-start;
    @extend .mx-1;
    @extend .px-1;
  }
  
  .roles-container {
    @extend .container;
    @extend .d-flex;
    @extend .flex-wrap;
    cursor: pointer;
  }
  
  .tags-container {
    @extend .container;
    @extend .d-flex;
    @extend .flex-wrap;
    cursor: pointer;
  }
  .periods-div {
    @extend .accordion!optional;
    @extend .align-items-start;
  }
  
  .period-div {
    @extend .accordion-item;
    @extend .w-100;
    @extend .align-items-start;
    @extend .border;
    @extend .my-3;
    cursor: pointer;
  }
  
  .period-headline {
    @extend .accordion-header;
    @extend .w-100;
    @extend .text-start;
    @extend .border-0;
  }
  
  .period-description {
    @extend .accordion-body;
    @extend .w-100;
    @extend .border-0;
    @extend .text-start;
    cursor: pointer;
    white-space: pre-wrap;
  }
  
  .period-add {
    @extend .form-submit;
    @extend .mt-5;
  }